/* Add a gray background color and some padding to the footer */
footer {
      background-color: #f2f2f2;
      padding: 10px 0 5px 0;
      font-size: 0.8em;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.foo {
    border-bottom: 1px solid black;
}