<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<ng-form id="invite-form" name="inviteForm">

			<div ng-class="{'has-error': inviteForm.nominal.$dirty && inviteForm.nominal.$invalid}" class="form-group">
			<label for="nominal" class="text-default">Номинал</label>
				<div class="radio">
				<label class="radio" ng-repeat="nominal in nominals track by $index">
  					<input ng-disabled="formDisabled" ng-model="req.nominal" ng-required="true" type="radio" name="nominal" id="nominal{{$index}}" value="{{nominal.nominal}}"> {{ nominal.nominal }} (доступно {{ nominal.count }})
				</label>
				</div>
				<div class="help-block error" ng-show="inviteForm.nominal.$dirty && inviteForm.nominal.$error.required">Пожалуйста, Выберите номинал купонов для отправки</div>
			</div>
			<div ng-class="{'has-error': inviteForm.amount.$dirty && inviteForm.amount.$invalid}" class="form-group">
				<label for="amount" class="text-default">Количество</label>
				<input ng-disabled="formDisabled" min="1" max="nominal.count" name="amount" type="number" ng-required="true" ng-model="req.amount" class="form-control" placeholder="Укажите количество купонов для отправки" />
				<div class="help-block error" ng-show="inviteForm.amount.$dirty && inviteForm.amount.$error.required">Пожалуйста, Укажите количество купонов для отправки</div>
			</div>
			<div ng-class="{'has-error': inviteForm.email.$dirty && inviteForm.email.$invalid}" class="form-group">
				<label for="email" class="text-default">Email</label>
				<input ng-disabled="formDisabled" name="email" type="email" ng-model="req.email" class="form-control" placeholder="Укажите email для отправки приглашения" />
				<div class="help-block error" ng-show="inviteForm.email.$dirty && inviteForm.email.$error.required">Пожалуйста, укажите корректный email</div>
			</div>
			<!-- div class="form-group" ng-class="{'has-error': inviteForm.duedate.$dirty && inviteForm.duedate.$invalid}">
        <label for="duedate" class="text-default">Действителен до</label>
          <input type="date" name="duedate" ng-model="duedate" class="form-control" id="duedate" placeholder="Введите дату Действителен до" validatedateformat />
          <div class="help-block error" ng-show="inviteForm.duedate.$dirty && Form.duedate.$invalid">Введите корректную дату Действителен до</div>
      </div -->
      		<div ng-click="refreshAmount()" min-date="minDueDate" max-date="maxDueDate" pickadate week-starts-on="1" ng-model="req.duedate"></div>
      		<div ng-cloack ng-show="activeCouponsAmount" class="row">
      			<div class="col-xs-12 info"><h4>Распределние по дате окончания</h4></div>
      		</div>
      		<div ng-cloack ng-show="activeCouponsAmount" class="row foo">
      			<div class="col-xs-2 text-left"><b>Дата</b></div>
      			<div class="col-xs-4 col-xs-offset-6 text-right"><b>Количество</b></div>
      		</div>
      		<div ng-cloack ng-if="activeCouponsAmount" class="row foo" ng-repeat="record in activeCouponsAmount">
      			<div class="col-xs-2 text-left">{{ record.duedate | date : 'dd.MM' }}</div>
      			<div class="col-xs-4 col-xs-offset-6 text-right">{{ record.amount }}</div>
      		</div>
      		<hr/>
			<div class="form-group">
				<input type="button" class="btn btn-lg btn-default btn-block" ng-click="invite()" ng-disabled="inviteForm.$invalid" value="{{buttonText}}" />
			</div>
		</ng-form>
	</div>
</div>