<div class="row">
	<table class="table table-striped">
		<tr><th>Дата</th><th>Зарегистрировано</th><th>Удалено</th><th>Осталось</th></tr>
		<tr ng-repeat="st in coupons track by $index">
			<td>{{ st.date | date: 'dd.MM.yyyy' }}</td>
			<td>{{ st.created }}</td>
			<td>{{ st.deleted }} ({{ st.deletedatdate }})</td>
			<td>{{ st.created - st.deleted }} ({{ ((st.created - st.deleted)/st.created * 100).toFixed(2) }}%)</td>
		</tr>
	</table>
</div>
<div ng-cloak class="row" ng-include="'views/pagination.html'"></div>